.banner-detail-overlay {
  background: linear-gradient(180deg,rgba(15,16,20,0) 73.08%,rgba(15,16,20,.01) 77.84%,rgba(15,16,20,.05) 79.74%,#0f1014),linear-gradient(90deg,#0f1014,rgba(15,16,20,.8) 7.31%,rgba(15,16,20,.52) 15.54%,rgba(15,16,20,.12) 29.73%,rgba(15,16,20,0) 100%)
}

.msg, .info {
  background-color: #032541;
  border-radius: 5px;
  padding: 5px 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.add-btn-container {
  &:hover {
    .msg {
      opacity: 1;
      visibility: visible;
    }
  }
}

.info-container {
  &:hover {
    .info {
      opacity: 1;
      visibility: visible;
    }
  }
}

.button-move {
  font-size: 20px;
  &:hover {
    color: white;
    background-color: #F04F24;
  }
}