.navbar {
    /* position: relative; */
    top: 0;
    height: 80px;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    align-items: center;
    
    background-color: rgba(31, 41, 55, 77.84%);

    .logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #F5F5DC; */
        background-color: white;
        img {
            padding: 5px;
            width: 60px;
            margin-left: 5px;
        }
    }
    .links {
        padding-left: 40px;
        height: 100%;
        display: flex;
        /* flex: auto; */
        gap: 40px;
        justify-content: start;
        align-items: center;
        .dropdown {
            display: flex;
            gap: 5px;
            align-items: center;
        }
    }

    .login {
        display: flex;
        padding-right: 20px;
        justify-content: end;
        gap: 40px;
        flex: auto;
        .log {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
    
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    /* gap: 15px; */
}

#search-btn {
    cursor: pointer;
}

#search-input-field {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: medium;
    font-weight: 600;
    position: absolute;
    right: 30px;
    width: max-content;
    transition: right 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    /* color: black; */
    border-radius: 8px;
    background-color: rgb(58, 75, 58);
    /* background-color: rgb(75, 58, 58); */
    border: 1px solid greenyellow;
    /* border: 1px solid rgb(255, 47, 47); */
    input {
        background-color: inherit;
        width: 150px;
        &:focus {
            outline: none;
        }
    }
}

#search-input-field.active {
    right: 80px;
    opacity: 1;
    visibility: visible;
}

.search-icon {
    /* opacity: 0; */
    visibility: hidden;
}

.search-icon.active {
    visibility: visible;
}

.nav-ul {
    font-weight: 300;
    background-color: #373942;
    overflow: hidden;
    transition: height 1.2s ease;
    ul {
        padding-left: 0 !important;
        li {
            &:hover {
                color: red;
            }
        }
    }
}