* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.watch-list {
  /* font-family: sans-serif; */
  text-align: center;
  width: 90vw;
  margin: 0 auto;
} 

table {
  margin: 0px 50px;
}

tr {
  /* border-bottom: 1px solid rgb(104, 227, 255); */
  border-bottom: 1px solid gold;
  border-collapse: collapse;
}
table th {
  padding-top: 20px;
  padding-bottom: 20px;
}
.head {
  color: gold;
}
.body {
  color: whitesmoke;
}
.del {
  color: white;
  span {
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
  }
}
th,
td {
  padding: 10px;
}
table img {
  width: 100px;
}

#watchlist-search-input {
  font-size: large;
  font-weight: 700;
  background-color: #0F1014;
  padding: 5px 10px;
  border: none;
  /* border-bottom: 2px solid yellowgreen; */
  color: white;
  &:focus {
    outline: none;
  }
}
/* #watchlist-search-input::placeholder {
  color: yellowgreen;
} */

.ul-Spl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 0;
  /* overflow: hidden; */
  list-style-type: none;
  margin: 20px 0px !important;
}
.ulTag {
  background-color: #373942;
  overflow: hidden;
  transition: height 1.2s ease;
  /* border-radius: 10px; */
  /* border-top-right-radius: 0px !important; */
  margin-top: -1px !important;
}

.hoverDiv {
  padding: 10px;
  background-color: #373942;
}

.sort-select {
  background-color: inherit;
  text-align: center;
  /* font-weight: 700; */
  color: gold;
}

li {
  /* background-color: lightblue; */
  padding: 5px 0px;
  text-align: start;
  /* font-size: 1.1rem; */
  span {
    cursor: pointer;
    &:hover {
      color: red !important;
    }
  }
}

.btn-ani {
  width: 6em;
  position: relative;
  height: 3.5em;
  /* border: 3px ridge #149CEA; */
  border: 3px ridge #ea6614;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-ani::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #0F1014;
  transition: 0.5s;
  transform-origin: center;
}

.btn-ani::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #0F1014;
  transition: 0.5s;
}

.btn-ani:hover::before, .btn-ani:hover::after {
  transform: scale(0)
}

.btn-ani:hover {
  /* box-shadow: inset 0px 0px 25px #1479EA; */
  box-shadow: inset 0px 0px 25px #ea6614;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}