* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.watch-list {
  /* font-family: sans-serif; */
  text-align: center;
  width: 90vw;
  margin: 0 auto;
} 

table {
  margin: 0px 50px;
}

tr {
  /* border-bottom: 1px solid rgb(104, 227, 255); */
  border-bottom: 1px solid gold;
  border-collapse: collapse;
}
table th {
  padding-top: 20px;
  padding-bottom: 20px;
}
.head {
  color: gold;
}
.body {
  color: whitesmoke;
}
.del {
  color: white;
  span {
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
  }
}
th,
td {
  padding: 10px;
}
table img {
  width: 100px;
}

#watchlist-search-input {
  font-size: large;
  font-weight: 700;
  background-color: #0F1014;
  padding: 5px 10px;
  border: none;
  /* border-bottom: 2px solid yellowgreen; */
  color: white;
  &:focus {
    outline: none;
  }
}

.ul-Spl {
  display: grid;
  grid-template-columns: repeat(4, 0.8fr);
  /* grid-gap: 10px; */
  column-gap: 20px;
  row-gap: 10px;
  /* padding: 0; */
  list-style-type: none;
  /* margin: 20px 0px !important; */
  /* padding: 20px;
  padding-top: 0px; */
  padding: 0px 20px;
  li {
    /* border: 1px solid white; */
    width: max-content;
  }
}
.ulTag {
  background-color: #373942;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.4, 0, 0.2, 1);

  margin-top: -1px !important;
  z-index: 999;
}

.hoverDiv {
  padding: 6px 10px;
  background-color: #373942;
}

.sort-ulTag {
  padding: 0px 10px;
  width: 120px;
  li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li:hover {
    color: red !important;
  }
}

li {
  /* background-color: lightblue; */
  padding: 5px 0px;
  text-align: start;
  /* font-size: 1.1rem; */
  span {
    cursor: pointer;
    &:hover {
      color: red !important;
    }
  }
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}